Source: direnv
Section: utils
Priority: optional
Maintainer: Punit Agrawal <punit@debian.org>
Build-Depends: debhelper (>= 10.0.0),
	       golang-any,
	       go-md2man
Standards-Version: 4.1.3
Homepage: http://direnv.net/
Vcs-Git: https://github.com/direnv/direnv-deb.git
Vcs-Browser: https://github.com/direnv/direnv-deb

Package: direnv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Utility to set directory specific environment variables
 direnv is an environment variable manager for your shell. It knows
 how to hook into bash, zsh and fish shell to load or unload
 environment variables depending on your current directory. This
 allows one to have project-specific environment variables and not
 clutter the "~/.profile" file.
 .
 Before each prompt it checks for the existence of an ".envrc" file in
 the current and parent directories. If the file exists, it is loaded
 into a bash sub-shell and all exported variables are then captured by
 direnv and then made available to your shell.
 .
 Because direnv is compiled into a single static executable it is fast
 enough to be unnoticeable on each prompt. It is also language
 agnostic and can be used to build solutions similar to rbenv, pyenv,
 phpenv, ...
