#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	dh_auto_build
	make man

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_auto_clean:
	dh_auto_clean
	rm -f man/*.1
